# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
blinker
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
entrypoints
executing
expat
fastjsonschema
gdcm
gitdb
gitpython
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jinja2
jpeg
json-c
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
ld_impl_linux-64
libblas
libcblas
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libgomp
libjpeg-turbo
liblapack
libopenblas
libpng
libstdcxx-ng
libtiff
libwebp-base
lz4-c
markupsafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
numpy
openjpeg
openssl
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycodestyle
pycparser
pydeck
pydicom
pygments
pympler
pyparsing
pyrsistent
python
python-dateutil
python_abi
pytz
pytz-deprecation-shim
pyzmq
readline
requests
semver
send2trash
setuptools
six
smmap
soupsieve
sqlite
stack-data
streamlit
terminado
tinycss2
tk
toml
toolz
tornado
traitlets
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
wheel
widgetsnbextension
xz
zipp
zlib
zstd
